<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Skypop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Skypop</h1>      
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="active"><a method ="POST " href="{{ url_for('accueil',pseudoUser=pseudoUser) }}" onclick='document.getElementById("home").submit()'>Accueil</a></li>
        <li class><a method ="POST " href="{{ url_for('playlist',pseudoUser=pseudoUser) }}" onclick='document.getElementById("playlist").submit()'>Playlists</a></li>
        <li><a method ="POST " href="{{ url_for('rechercher',pseudoUser=pseudoUser) }}" onclick='document.getElementById("rechercher").submit()'>Rechercher</a></li>
        <li class><a method ="POST " href="{{ url_for('createalbum',pseudoUser=pseudoUser) }}" >Créer un album</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('profil',pseudoUser=pseudoUser) }}"><span class="glyphicon glyphicon-user"></span>Mon compte</a></li>
        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>
</form>
</form>
</form>
</form>
{% block content %}{% endblock %}
</body>
</html>