{% extends 'base.html' %}
{% block content %}
    <div class = "mb-2 text-center">
        <input type="text" name="id" value="{{album.id}}" hidden>
        <form method="POST" action="{{ url_for('edit_album',id=album.id,pseudoUser=pseudoUser) }}">
    <div class="form mb-2" rounded>
        <h1>Edition de l'album</h1>
    </div>
    <div class="container mb-2">
        
        <label for="Titre"><br><br>Titre :</label>
        <input type="text" placeholder="Destin" name="Titre" required>
    </div>
    <div class="form">
        <label for="Annee"><br><br>Date de sortie :</label>
        <input type="number" min="1900" max="2021"name="Annee" placeholder="2019" required>
    </div>
    <div class="form">
        <label for="Genre"><br><br>Genres :</label>
        <input type="Genre" placeholder="Rap" name="Genre" required>
        
    </div>
        <label for="Url"><br><br>URL Image :</label>
        <input type="text" name="URL" placeholder="https/..." required>
    <div class="bouton">
        <label><br><br>Attention vous ne pourrez pas revenir en arrière !</label>
        <button class = "btn btn-outline-danger" type="submit">Modifier</button>
    </div>
</div>
</form>
{% endblock %}