{% extends "base.html" %}

{% block header %}

<h1>{% block title %}Playlist{% endblock %}</h1>

{% endblock %}
{% block content %}
<form class ="needs-validation " novalidate method="POST" action="{{ url_for('playlistAjouter',pseudoUser=pseudoUser)}}">
    <h2 >Creer un nouvelle Playlist</h2>
    <div class="mb-4 text-sm-center">
        <label class="col-sm-1 col-form-label">Nom de votre Playlist</label>
        <input type="text" class="col-sm-2 col-xs-4" name="nom" placeholder="Entrez le nom de votre Playlist" required>
    </div>
    <div class="mb-4 text-sm-center ">
        <input type="submit" class="col-sm-2 col-xs-4" name="valid" value = "Creer">
    </div></form>
    <form class="playlist" novalidate method="POST">
    <h2><br><br>Liste de Playlist</h2>
    <div class="mb-4 text-sm-center">
        {% for elem in playlist %}
        <div class="container ">
        <label class="col-sm-1 col-form-label">Nom de {{elem.id}} la Playlist</label>
        <label class="col-sm-1 col-form-label">{{elem.nom}}</label>
        <button class="col-sm-2 col-xs-4" type="submit" method="POST" formaction="{{ url_for('vue_playlist',id=elem.id,pseudoUser=pseudoUser)}}">Voir la playlist</button>
        <button class="col-sm-2 col-xs-4" type="submit" method="POST" formaction="{{ url_for('delete_playlist',id=elem.id,pseudoUser=pseudoUser)}}">Supprimer</button>
    </div>
        {% endfor %}
    </div>
</div>
</form>
{% endblock %}

