<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Skypop</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/css/main.css">
  <link rel="stylesheet" type="text/css" href="../static/login/css/util.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/images/music.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					S'inscrire
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="POST" action="{{ url_for('register_home') }}">

          <div class="wrap-input100 validate-input" data-validate = "Entrez votre nom">
						<input class="input100" type="text" pattern="[A-Za-z].{2,}" title="Veuillez saisir un nom de longueur 2 minimum." name="nom" placeholder="Nom...">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

          <div class="wrap-input100 validate-input" data-validate = "Entrez votre prénom">
						<input class="input100" type="text" pattern="[A-Za-z].{2,}" title="Veuillez saisir un prénom de longueur 2 minimum." name="prenom" placeholder="Prénom...">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
          

					<div class="wrap-input100 validate-input" data-validate = "Entrez un nom d'utilisateur">
						<input class="input100" type="text" name="pseudo" pattern="[A-Za-z].{3,}" title="Veuillez saisir un nom d'utilisateur de longueur 3 minimum." placeholder="Nom d'utilisateur...">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Entrez une adresse e-mail">
						<input class="input100" type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" name="email" placeholder="Mail...">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Entrez un mot de passe">
						<input class="input100" type="password" pattern="[A-Za-z].{6,}" title="Veuillez saisir un mot de passe de longueur 6 minimum, avec un caractère spécial ou un chiffre." name="mdp" placeholder="Mot de passe...">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>


          <div class="wrap-input100 validate-input" data-validate = "Entrez votre date de naissance">
						<input class="input100" type="date" name="birth" max="2022-19-01">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

          <div class="wrap-input100 validate-input" data-validate = "Entrez votre sexe">
            <div class = "center">
            <select name="sexe">
              <option value="homme">Homme</option>
              <option value="femme">Femme</option>
              </select>
            </div>
					</div>


					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" type='submit'>
							VALIDER L'INSCRIPTION
						</button>
          </form>
					</div>
          <div class="center">
            <p>Déjà inscrit ?</p>
            <form method="GET" action="{{ url_for('login') }}">
						<button type='submit'>
							Se connecter
						</button>
          </form>
          </div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/js/main.js"></script>

</body>
</html>