{% extends "base.html" %}


{% block content %}


<h2>Dans la playlist : {{ playlist.nom }}</h2>
{% for i in range(playlist.album|length) %}

{% set artiste = funcArtist(playlist.album[i].auteur_id) %}
    {% if i == 0 %}
    <div class = "col-sm-4">
    {% endif %}
<a class="text-white" method="POST" href="{{ url_for('info_album',id=playlist.album[i].id,pseudoUser=pseudoUser) }}">
<img src="../../../../static/images/{{playlist.album[i].urlImage}}"  type="submit" class="img-responsive" style="width:25%" alt="">
<img src="{{playlist.album[i].urlImage}}" type="submit" class="img-responsive" style="width:100%" alt="">
</a>
<p><strong> Titre : {{ playlist.album[i].titre}} </strong><a method="POST" href="{{ url_for('editArtist',id=playlist.album[i].id,pseudoUser=pseudoUser,idArtist=playlist.album[i].auteur_id) }}"><strong><br>Artiste : </strong>{{artiste.nomPrenom}}</a>
    <strong><br>Date de sortie : </strong>{{playlist.album[i].dateDeSortie}}  <br><strong>Genres : </strong>{{playlist.album[i].genres}} <br></p>
    <a class="text-white" method="POST" href="{{ url_for('delete_album_playlist',idAlbum=playlist.album[i].id,pseudoUser=pseudoUser, id=playlist.id) }}">Supprimer</a>
    {% endfor %}
</div>




{% endblock %}
